.main-page{
    text-align: center;
    margin-top: 80px;
}

.popups{
    width: 25%;
    padding: 1em;
    border: 1px solid grey;
    margin: auto;
    }

.button{
    margin: 0px;
    margin-bottom: 40px;
    height: 44px;
    width: 118px;
}